#product{
    display: flex;
    flex-direction: column;
    max-width: 70%;
    margin: 0 auto;
}

#product-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.single-product{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 70%;
    border: 2px solid black;
    padding: 15px;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    max-width: 70%;
}

#buy-button{
    margin-bottom: 45px;
}

img{
    max-height: 275px;
}

#delete-div{
    text-align: center;
}
#delete-button{
    margin: 15px;
}

#homeButton{
    margin: 15px;
}