body{
    background-color: #9f496e;
}

#product{
    display: flex;
    flex-direction: column;
    max-width: 70%;
    margin: 0 auto;
}

#product-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.single-product{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 70%;
    border: 2px solid black;
    border-radius: 15px;
    padding: 15px;
    background-color: #f2ebe5;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    max-width: 70%;
}

#homeButton{
    cursor: pointer;
}
#homeButton:hover{
    color: red;
}

#buy-button{
    margin-bottom: 45px;
}

img{
    max-height: 275px;
}

#delete-div{
    text-align: center;
}
#delete-button{
    margin: 15px;
}

#homeButton{
    margin: 15px;
    cursor: pointer;
}

#homeButton:hover{
    color: red;
}

#search-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 15px;
}

label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: 0.4rem 0;
}

