body{
    background-color: #9f496e;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 15px;
    border: 2px solid black;
    border-radius: 15px;
    background-color: #f2ebe5;
}

.single-inputs{
    margin: 15px;
}

#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#navbar h4{ 
    margin: 0px;
}


#submit-button {
    display: flex;
    justify-content: center;
    cursor: pointer;
    margin: 20px;
}

#homeButton{
    cursor: pointer;
}
#homeButton:hover{
    color: red;
}